<div class="header-bar">
    <div class="project-overview">
        <a href="/panel/overview">Meine Projekte</a>
    </div>
    <div class="logo">
        <a href="/">
            <img src="/static/logo.svg">
        </a>
    </div>
    <div class="user">
        <a href="#">Franz Bender</a>
    </div>
</div>
