<%- include('header', { title: 'Impressum'}) %>

<div class="imprint">
    <div class="information">
        <h1>Impressum</h1>
        <p>Franz Bender</p>
        <p>Gerhart-Hauptmann-Str. 16</p>
        <p>18055 Rostock</p>
        <p>frbender@franz-bender.de</p>
    </div>
</div>

<%- include('footer') %>