<%- include('header', { title: 'Pullrequests FTW!'}) %>

<div class="welcome">
    <div class="introduction">
        <div class="hero">
            <img src="/static/logo.svg"/>
        </div>
        <div class="links">
            <div>
                <a class="clickable" href="/authentication/login">Login</a>
            </div>
            <div>
                <a class="clickable" href="/authentication/register">Registrieren</a>
            </div>
        </div>
        <div class="space-bottom-large">
            <h1>Pullrequests FTW!</h1>
            <p>
                fnord ist deine neue Lösung für die Verwaltung von Pullrequests unter Subversion. Leg dir einen Account
                an
                und schon kannst du dir beliebig viele Projekte anlegen und in den Genuss von Pullrequests unter
                Subversion
                kommen.
            </p>
        </div>
        <div>
            <h1>Pullrequests WTF?</h1>
            <p>
                Pullrequests sind eine tolle Möglichkeit um Codequalität zu steigern. Anstatt deinen Code direkt von
                deinem
                Branch in den Master (trunk) zu mergen stellst du einen Pullrequest. Mitstreiter trägst du als Reviewer
                ein.
                Sie können deine Änderungen sehen. Deine Änderungen können erst gemergt werden sobald alle Reviewer
                deinen
                Änderungen zugestimmt haben.
            </p>
        </div>
    </div>
</div>

<%- include('footer') %>